.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 760px;
}

#go-up-product {
  height:50%;
  width: 50px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 25px;
  color: #333;
}

#go-down-product {
  height:50%;
  width: 50px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 25px;
  color: #333;
}

#swap {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 40px;
  color: #333;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 55px;
}

#go-up-product:hover, #go-down-product:hover, #swap:hover {
  background: rgba(0, 0, 0, 0.4);
  color: whitesmoke;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 60px;
  transform: translateX(-5%);
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  height: 800px;
  overflow: hidden;
}

.product-content {
  display: flex;
  align-items: center;
  flex-flow: column;
  min-width: 196px;
  max-width: 196px;
  height: 380px;
  border: .1px solid rgba(0, 0, 0, 0.125);
  border-radius: 6px;
  margin: 9px;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
}

.product-content:hover {
  box-shadow: 0 7px 10px 0 rgba(0,0,0,.2), 0 1px 3px 0 rgba(0,0,0,.1);
  border: 1px solid rgb(185, 185, 185);
}

.img-div {
  justify-content: center;
  display: flex;
}

.img {
  width: 196px;
}

a {
  text-decoration: none;
  color: black;
}

.product-title-div {
  position: relative;
  top: 15px;
  width: 80%;
  height: 170px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}